
@{
    ViewBag.Title = "Gallery";
}


@foreach (var p in Model)
{
    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
        <img src="~/img/@(p).jpg" style="width:365px;height:365px" class="img-responsive" />
    </div>

}


