@{
    ViewBag.Title = "Art Store";
}

<div class="row">
    <div class="col-md-2">
        <img src="img/VanGogh.jpg" />
    </div>
    <div class="col-md-2">
        <img src="~/img/SK-C-597.jpg" style="width:200px;height:252px" />
    </div>
    <div class="col-md-2">
        <img src="~/img/SK-C-5.jpg" style="width:200px;height:252px" />
    </div>
    <div class="col-md-2">
        <img src="~/img/SK-C-251.jpg" style=";width:200px;height:252px" />
    </div>
    <div class="col-md-2">
        <img src="~/img/SK-C-1747.jpg" style="width:200px;height:252px" />
    </div>
    <div class="col-md-2">
        <img src="~/img/SK-C-216.jpg" style="width:200px;height:252px" />
    </div>
</div>
